.mat-toolbar {
  background: -webkit-linear-gradient(
    to right,
    #22023d,
    #5e0388
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #370362, #7f26a8);

  color: white;
}

.nav__container {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100vw;
}
.nav__container--left {
  display: flex;
}
.header__heading {
  font-size: 40px;
  height: 100%;
  font-weight: 550;
  padding-top: 10px;
}
.user__menu {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.user__menu mat-icon {
  font-size: 30px !important;
}
.mat-button {
  padding: auto 0 !important;
}

.user__avata {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.user__name {
  margin: auto 5px;
}
mat-sidevav-container {
  background: #948e99; /* fallback for old browsers */
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
}
mat-sidenav {
  background: -webkit-linear-gradient(
    to right,
    #22023d,
    #5e0388
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #370362, #7f26a8);
  border-right: 2px solid rgb(63, 60, 60);
  color: white !important;
  width: 15vw !important;
}
.mat-list-base .mat-list-item {
  color: white;
}
.mat-list-item-content:hover {
  background: red;
}
.link--active {
  color: rgb(250, 145, 8) !important;
  font-size: 22px;
  font-weight: 550;
  background-color: rgb(230, 228, 221) !important;
}
mat-sidenav-content {
  min-height: 90vh;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: #8933cf; 
  background: #6765e6; 
  background: -webkit-linear-gradient(to right, #9a31e0, #abbaab);
  background: linear-gradient(to left, #fefeff, #282728); */
}

.view {
  height: 100%;
}
