<mat-toolbar>
  <div class="nav__container">
    <div class="nav__container--left">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header__heading">Employee Manager</span>
    </div>
    <div class="nav__container--right">
      <div class="user__menu">
        <img src="../../../assets/avata_user.jpg" alt="" class="user__avata" />
        <div class="user__name">Hoang Tran</div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>exit_to_app </mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened="true">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/admin-hrm/all-employee']"
        routerLinkActive="link--active"
      >
        <mat-icon>contacts</mat-icon>
        All employee
      </a>
      <a
        mat-list-item
        [routerLink]="['/admin-hrm/add-new-employee']"
        routerLinkActive="link--active"
        ><mat-icon>add</mat-icon>
        New employee
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
