<div class="container__newEmployee">
  <div class="heading">Add new car</div>

  <div class="main">
    <form
      class="form_newEmp"
      [formGroup]="form_newEmp"
      (ngSubmit)="onSubmitAdd()"
    >
      <div class="form__control">
        <mat-form-field appearance="fill" class="longInput">
          <mat-label>License Plate</mat-label>
          <input
            formControlName="licensePlate"
            matInput
            placeholder="Ex. 30A1234"
          />
          <mat-error
            *ngIf="
              form_newEmp.controls.licensePlate?.hasError('required') &&
              form_newEmp.controls.licensePlate?.touched
            "
            >License Plate is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form__control">
        <mat-form-field appearance="fill" class="longInput">
          <mat-label>Car Type</mat-label>
          <input
            matInput
            placeholder="Ex: Honda"
            formControlName="carType"
            required
          />
          <mat-error
            *ngIf="
              form_newEmp.controls.carType?.hasError('required') &&
              form_newEmp.controls.carType?.touched
            "
            >Car Type is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form__control double">
        <mat-form-field appearance="fill">
          <mat-label>Car Color </mat-label>
          <input
            formControlName="carColor"
            matInput
            #carColor
            placeholder="Ex: 0123456789"
          />
          <mat-error
            *ngIf="
              form_newEmp.controls.carColor?.hasError('required') &&
              form_newEmp.controls.carColor?.touched
            "
            >Car Color is required</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Parking Lot</mat-label>
          <mat-select formControlName="parkingLot">
            <mat-option value="Park 1">Park 1</mat-option>
            <mat-option value="Park 2">Park 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form__control"></div>
      <div class="form__control">
        <button mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="footer"></div>
</div>
